// Config file

workDir = "/hpcscratch/ieo/ieo5898/temporary_tcga"

process {
    executor = 'pbspro'
    queue = 'nocg_workq'
    cpus = 1
    memory = 8.GB

  withName: 'download' {
        queue = 'workq'
        cpus = 2
        memory = 8.GB
    }

}

tower {
  workspaceId = '52536440408009'
  accessToken = 'eyJ0aWQiOiA1fS5mMTM4ZmI0MmY3ZWM2M2Q0NTUzZmIyZjIxYzFmYWVlMWFiM2Q0Zjk5'
  endpoint = 'https://seqera.ieo.it/api'
  enabled = true
}
